{% extends 'base.html' %}
{% block menu-leaders %}menu-active{% endblock menu-leaders %}
{% block content %}
<section class="my-5">
    <div class="container">
        <center>
            <h1 class="post-title">MoFAD {{board.name}}</h1>
        </center>

        <div class="my-2 p-3" id="home">
            <div class="row justify-content-center">
                {% for leader in board.leader_set.all %}
                <div class="col-12 col-md-4 mb-4">
                    <div class="leader-card bg-white shadow">
                        <img src="{{MEDIA_URL}}{{leader.image.url}}" alt="" class="img-fluid" />
                        <div class="py-3 px-4 text-center">
                            <h5>{{leader.name}}</h5>
                            <small class="text-muted">{{leader.role}}</small>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}