{% extends 'base.html' %}
{% block menu-about %}menu-active{% endblock menu-about %}

{% block content %}
<div class="banner"
    style="background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0,0,0,0.03), rgba(0, 0, 0, 0.4)), url('/static/images/handingover2-scaled.jpg')">
</div>
<section class="container my-5 pb-5">
    <div class="row justify-content-center">
        <div class="col-md-11 col-lg-10">
            <div class="about-text">
                <center>
                    <h1 class="">Home of Professional Students</h1>
                </center>

                <p>Ghana Union of Professional Students – GUPS is a democratic, nonpartisan, nonsectarian mass movement
                    of Professional Students in Ghana. The Union’s outlook embraces all democratic, revolutionary,
                    progressive ideals and principles, including those against imperialism, poverty, corruption, racism,
                    tribalism, illiteracy for national development and socio-economic advancement.</p>

                <p>The Ghana Union of Professional Students which began as a Society for Professional Institute (SPI) in
                    the 1990’s had tertiary institutions like the Institute of Professional Studies now UPSA, the Ghana
                    Institute of Journalism, The National Film and Television Institute (NAFTI), Ghana Institute of
                    Languages (GIL), Ghana School of Surveying and Mapping (GSSM) and other professional institutes as
                    it founding members.</p>

                <p>The then Society for Professional Institute (SPI) evolved through constitutional and structural
                    adjustment, to become the Ghana Union of Professional students in 2001 after more professional
                    universities had been ratified into her fold. Currently, the union remains the single and largest
                    umbrella body of professional students in the country. GUPS is now made up of 32 ratified
                    institutions and is headquartered in the former PWD building adjacent the Independence Square,
                    Accra.</p>

                <p>Today, Ghana Union of Professional Students (GUPS) is made up of membership of over fifty-five
                    Tertiary Institutions with an estimated students’ population of more than One hundred and fifty
                    thousand students in Ghana who are matured students dominated.</p>
            </div>
        </div>
    </div>

    <div class="mt-5 mission py-5 p-md-5 border-top ">
        <center>
            <h1 class="text-success">Vision of the Union</h1>
            <p class="text-muted">To promote, improve, develop and safeguard the interests of professional
                students and Ghanaian students as a whole.</p>
        </center>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-5 mb-3">
            <div class="aim p-4 border rounded">
                <h2 class="text-navy mb-4">Realising</h2>
                <p class="mb-0 text-muted">The paramount need to provide avenues for the training
                    of dedicated, selfless and disciplined manpower imbued with the
                    principles of probity, patriotism, accountability and integrity</p>
            </div>
        </div>
        <div class="col-md-5 mb-3">
            <div class="aim p-4 border rounded">
                <h2 class="text-orange mb-4">Desirous</h2>
                <p class="mb-0 text-muted">To participate actively in all national development
                    programms of this country taking into consideration the importance
                    of education in national development</p>
            </div>
        </div>
        <div class="col-md-5 mb-3">
            <div class="aim p-4 border rounded">
                <h2 class="text-yellow mb-4">Resolved</h2>
                <p class="mb-0 text-muted">To abide by democratic principles, rule of law, and to
                    let knowledge have a liberative effect on all members and the Ghanaian
                    society as a whole</p>
            </div>
        </div>
        <div class="col-md-5 mb-3">
            <div class="aim p-4 border rounded">
                <h2 class="text-success mb-4">Recognizing</h2>
                <p class="mb-0 text-muted">The full benefit of working together under a united
                    front and within the framework of a common guiding spirit.</p>
            </div>
        </div>
    </div>
</section>

<section class="leaders mb-5">
    <div class="container pb-5">
        <div class="row justify-content-center">
            {% for leader in leaders %}
            <div class="col-12 col-md-4 mb-4">
                <div class="leader-card bg-white shadow">
                    <img src="{{MEDIA_URL}}{{leader.image.url}}" alt="" class="img-fluid">
                    <div class="py-3 px-4 text-center">
                        <h5>{{leader.name}}</h5>
                        <p class="text-muted">{{leader.role}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}