{% extends 'base.html' %}
{% block menu-about %}menu-active{% endblock menu-about %}

{% block content %}
<div class="banner"
    style="background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0,0,0,0.03), rgba(0, 0, 0, 0.4)), url('/static/images/photo_2022-02-28_09-16-37.jpg')">
</div>
<section class="container my-5 pb-5">
    <div class="row justify-content-center">
        <div class="col-md-11 col-lg-10">
            <div class="about-text">
                <center>
                    <h1 class="">About MoFAD</h1>
                </center>

                <p>The Ministry of Fisheries and Aquaculture Development (MoFAD) is currently established by Executive Instrument (E.I) 28, in line with section 11 and 13 of the Civil Service Act, (PNDCL 327). It was first established by Executive Instrument (E.I) 1, 2013 on the 18th day of January 2013.</p>

                <p>The Ministry is therefore required to initiate, cordinate and formulate policies and activities to promote the fishing industry as well as the emerging aquaculture sector in the country ins such a mannner as to reduce poverty amongst the stakeholders, create wealth and generally contribute to the national gross domestic product and foreign exchange earnings.</p>
            </div>
        </div>
    </div>

    <div class="mt-5 mission py-5 p-md-5 border-top ">
        <center>
            <h1 class="text-success">Mandate of the Ministry</h1>
            <p class="text-muted">The core mandate of MOFAD is to formulate and implement sector Policies and Strategies aimed at transforming the Fisheries and Aquaculture Sector to contribute more effectively to national development through science, technology, innovation and institutional capacity enforcement.</p>
        </center>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-5 mb-3">
            <div class="aim p-4 border rounded">
                <h2 class="text-navy mb-4">Vision</h2>
                <p class="mb-0 text-muted">The Ministry of Fisheries and Aquaculture Development aspires to be a visible Ministry that promotes Accelerated Fisheries and Aquaculture Development to contribute to National Development.
</p>
            </div>
        </div>
        <div class="col-md-5 mb-3">
            <div class="aim p-4 border rounded">
                <h2 class="text-orange mb-4">Mission</h2>
                <p class="mb-0 text-muted">The Ministry of Fisheries and Aquaculture Development exists to transform the Fisheries and Aquaculture Sector and industry into a viable economic segment and provide support services to promote private sector investments.</p>
            </div>
        </div>
        <div class="col-md-5 mb-3">
            <div class="aim p-4 border rounded">
                <h2 class="text-yellow mb-4">Values</h2>
                <p class="mb-0 text-muted">To abide by democratic principles, rule of law, and to
                    let knowledge have a liberative effect on all members and the Ghanaian
                    society as a whole</p>
            </div>
        </div>
        <div class="col-md-5 mb-3">
            <div class="aim p-4 border rounded">
                <h2 class="text-success mb-4">Recognizing</h2>
                <ul class="mb-0 text-muted">
                    <li>Objectivity</li>
                    <li>Accountability</li>
                    <li>Productivity</li>
                    <li>Transparency</li>
                    <li>Equity</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="leaders mb-5">
    <div class="container pb-5">
        <div class="row justify-content-center">
            {% for leader in leaders %}
            <div class="col-12 col-md-4 mb-4">
                <div class="leader-card bg-white shadow">
                    <img src="{{MEDIA_URL}}{{leader.image.url}}" alt="" class="img-fluid">
                    <div class="py-3 px-4 text-center">
                        <h5>{{leader.name}}</h5>
                        <p class="text-muted">{{leader.role}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}