{% extends 'base.html' %}
{% block menu-agencies %}menu-active{% endblock menu-agencies %}
{% block content %}
<section class="my-5">
    <div class="container">
        <div class="">
            <h1 class="post-title text-center">MoFAD Agencies</h1>
        </div>

        <div class="py-5">
            <div class="row justify-content-center">
                {% for agency in agencies %}
                <div class="col-12 col-md-4 mb-4">
                    <a href="{{agency.get_absolute_url}}" class="text-dark">
                        <div class="agency-card border" style="height: 100%;">
                            <img src="{{MEDIA_URL}}{{agency.image.url}}" alt="" class="img-fluid">
                            <div class="py-3 px-4 text-center">
                                <h5>{{agency.name}}</h5>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="mt-4 mb-5">
            {% if is_paginated %}

            {% if page_obj.has_previous %}
            <a class="btn btn-outline-success mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-success mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <a class="btn btn-success mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a
                class="btn btn-outline-success mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <a class="btn btn-outline-success mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-success mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}

                {% endif %}
        </div>
    </div>
</section>
{% endblock content %}