{% extends 'base.html' %}
{% block menu-reports %}menu-active{% endblock menu-reports %}

{% block content %}
<section class="my-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h1 class="post-title">MoFAD Public Reports</h1>

                <div class="py-3">
                    <nav class="menu border-bottom">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#home"
                                role="tab" aria-controls="nav-home" aria-selected="true">Financial <span
                                    class="d-none d-md-inline-block">statements</span></a>
                            <a class="nav-item nav-link" id="nav-article-tab" data-toggle="tab" href="#profile"
                                role="tab" aria-controls="nav-article" aria-selected="false">Research <span
                                    class="d-none d-md-inline-block">reports</span></a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#contact"
                                role="tab" aria-controls="nav-profile" aria-selected="false">Developmental <span
                                    class="d-none d-md-inline-block">reports</span></a>
                        </div>
                    </nav>

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active p-3" id="home" role="tabpanel" aria-labelledby="home-tab">
                            {% for report in budgets %}
                            <a href="{{report.get_absolute_url}}" class="text-dark">
                                <div class="row mb-3 bg-light py-3 report-card" style="border-right: 7px solid #eeeeee">
                                    <div class="col-4 text-center">
                                        <h5 style="color: #000099">{{report.date|date:"F, Y"}}</h5>
                                    </div>
                                    <div class="col-4">
                                        <p class="mb-0"><span class="text-muted">By: </span>{{report.by}}</p>
                                    </div>
                                    <div class="col">
                                        <p class="text-muted mb-0">{{report.time}}</p>
                                    </div>
                                </div>
                            </a>
                            {% endfor %}
                        </div>

                        <div class="tab-pane fade p-3" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                        </div>

                        <div class="tab-pane fade p-3" id="contact" role="tabpanel" aria-labelledby="contact-tab">

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock content %}