{% extends 'base.html' %}
{% block menu-alumni %}menu-active{% endblock menu-alumni %}

{% block content %}
<section class="container">
    <div class="my-4">
        <div class="row justify-content">
            <div class="col-12 col-md-6 d-none d-md-block d-lg-block">
                <h1 class="text-navy">Alumni Year Groups</h2>
            </div>
            <div class="col-12 col-md-6">
                <form action="{% url 'year-group-search' %}" method="GET">
                    <div class="form-row">
                        <div class="form-group col-9 col-md-10">
                            <div class="input-group mb-2 mr-sm-2">
                                <input name='q' type="text" class="form-control" id="inlineFormInputGroupUsername2"
                                    placeholder="Find a year group">
                            </div>
                        </div>
                        <div class="form-group col-3 col-md-2">
                            <button type="submit" class="btn btn-success btn-block"><i
                                    class="bi bi-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="py-3">
        <div class="row">
            {% for year in year_groups %}
            <div class="col-md-3">
                <a href="{{year.get_absolute_url}}">
                    <div class="report-card bg-light text-center p-3 mb-4" style="border-bottom: 7px solid #eeeeee">
                        <h5 class="text-muted">Class of <span class="text-navy">{{year.name}}</span></h5>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="mt-4 mb-5">
        {% if is_paginated %}

        {% if page_obj.has_previous %}
        <a class="btn btn-outline-success mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-success mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <a class="btn btn-success mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a
            class="btn btn-outline-success mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <a class="btn btn-outline-success mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-success mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}

            {% endif %}
    </div>
</section>
{% endblock content %}